<div class="popup-msg-container">
    <h4>Account Activated</h4>
    <h5>Dear {{CLIENT_NAME}},</h5>

    <p class="p-center">Thank you, your email has been verified. Your account is now active.</p>
    <p class="p-center">Please use the link below to login to your account.</p>

    <p class="p-center"><button class="btn btn_blue btn-showSignInForm">Sign In</button></p>
</div>