<div class="popup-msg-container">
    <h4>An error occurred while activating your account</h4>

    <p class="p-center">The account verification link may have expired. Use the login form to resend the confirmation link</p>

    <p class="p-center"><button class="btn btn_blue btn-showSignInForm">Sign In</button></p>
</div>