<div class="popup-msg-container">
    <h4>Confirm your email address {{ BEFORE_ACTION is defined ? BEFORE_ACTION : '' }}</h4>

    <p>We have sent an email with a confirmation link to your email address. In order to complete the sign-up process, please click the <u>confirmation link</u>.</p>
    <p>If you do not receive a confirmation email, please check your spam folder. Also, please verify that you entered a valid email address in our sign-up form.</p>
    <p>If you need assistance, please contact <a href="mailto:{{ INTEGRITY_EMAIL }}">us</a>.</p>
</div>