<div class="popup-msg-container">
    <h4>No new password set</h4>

    <p class="p-center">Failed to set new password: {{ MESSAGE }}</p>
    <p class="p-center">Please try again later or contact <a href="mailto:{{ INTEGRITY_EMAIL }}">us</a>.</p>

</div>