<div class="popup-msg-container">
    <h4>Password Changed</h4>

    <p class="p-center">New password set successfully. You can sign in using a new password.</p>

    <p class="p-center"><button class="btn btn_blue btn-showSignInForm">Sign In</button></p>
</div>