<div class="dashboard-menu-tabs">
    <div class="container">
        <a href="/front.php?page=dashboard" class="dashboard-menu-tabs-item {% if page == "dashboard" %}current{% endif %}">Dashboard</a>
        <a href="myproducts.php" class="dashboard-menu-tabs-item">My Products</a>
        <a href="portfolio.php" class="dashboard-menu-tabs-item">Build Portfolio</a>
        <a href="user-settings.php" class="dashboard-menu-tabs-item">Settings</a>
        <a href="deposit.php" class="dashboard-menu-tabs-item {% if page == "deposit" %}current{% endif %}">Deposit</a>
        <a href="withdrawal.php" class="dashboard-menu-tabs-item">Withdrawal</a>
    </div>
</div>
