<div class="sidebar-menu">
    <div class="smenu">
        <div class="smenu-crypto">
        <label>Crypto Trust</label>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
        </div>
        <div class="smenu-products">
        <label>Products</label>
        <ul>
            <li><a href="/product-list">All Products</a></li>
            <li><a href="/product-conservative">Conservative Trust</a></li>
            <li><a href="/product-classic">Classic Trust</a></li>
            <li><a href="/product-confident">Confident Trust</a></li>
            <li><a href="/product-individual">Individual Portfolio</a></li>
            <li><a href="/pricing">Pricing Plans</a></li>
            <li><a href="/comparative-pricing">Comparative Pricing Tables</a></li>
        </ul>
        </div>
        <div class="smenu-market">
        <label>Market News</label>
        <ul>
            <li><a href="/crypto-rates">Crypto Rates</a></li>
            <li><a href="/newsfeed">Market Feed</a></li>
            <li><a href="/cryptofeed">Crypto Facts</a></li>
            {#<li><a href="/">Post page</a></li>#}
        </ul>
        </div>
    </div>

    <div class="header-user-menu-switcher-wrap">
        <div>View all Rates in USD</div>
        <div class="header-user-menu-switcher {{ isRateUSD ? 'active' : '' }}" data-rate-usd="{{ isRateUSD ? 'on' : 'off' }}"><div></div></div>
    </div>
    <div class="sidebar-menu-contacts">
        <label>Call us directly</label>
        <a href="tel:+442036085823">+44 20 3608 5823</a>
        <label>Contact e-mail</label>
        <a href="mailto:support@integrityfund.io">support@integrityfund.io</a>
    </div>

</div>
<div class="switch-sidebar-menu">
    <span class="close-wrap">
        <span class="close-line close-line1"></span>
        <span class="close-line close-line2"></span>
    </span>
</div>
