.passwor-reset {
  padding: 0 0 60px;
  > div {
    max-width: 740px;
    margin: 0 auto;
  }
  .box-framed {
    position: relative;
    transform: translateY(-60px);
  }
  .container {
    margin: 1rem auto;
    max-width: 580px;
    font-size: 0;
  }
  h1 {
    padding-bottom: 1.5rem;
    line-height: calculateRem(30px);
    font-size: calculateRem(30px);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }
  fieldset {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 1rem;
  }
  button {
    display: block;
    height: 50px;
    width: 150px;
    margin: 40px auto 30px;
    line-height: 48px;
  }
}
@media (max-width: 1139px) {
  .usersettings {
  }
}
@media (max-width: 979px) {
  .usersettings {
  }
}
@media (max-width: 767px) {
}
@media (max-width: 600px) {
}
@media (max-width: 479px) {
}