<div class="dashboard-header page-header">
    <div class="page-header-bg"></div>
    <div class="container dashboard-header">
        <div class="dashboard-header-user">
            <div class="dashboard-header-user-ava" style="background-image: url(https://integrityfund.local/images/avatars/avatar_02.jpg?v202103202338);"></div>
            <div class="dashboard-header-user-info">
                <div class="dashboard-header-user-fullname">Alex Makaruk</div>
                <div class="dashboard-header-user-nicname">Alex</div>
                <div class="dashboard-header-user-invested">Trust Invested (BTC): <b>12.00000000</b></div>
                <div class="dashboard-header-user-invested">Trust Invested (USDT): <b>326.00</b></div>
            </div>
        </div>

        <div class="dashboard-header-totalbtc">
            <div class="dashboard-header-totalbtc-title">
                Total Equity in USDT<span class="arrow-open"></span>
            </div>
            <div class="big-digits dashboard-header-totalbtc-value">12.41</div>
            <div class="dashboard-header-totalbtc-daychange">
                Day Change: <b>3.08</b> <span class="icon-color-arrow icon-color-arrow-down"></span>
            </div>
        </div>
        <div class="dashboard-header-totalpersents">
            <div class="dashboard-header-totalpersents-title">
                Total Equity in % <span class="arrow-open"></span>
            </div>
            <div class="big-digits dashboard-header-totalpersents-value">15.23</div>
            <div class="dashboard-header-totalpersents-daychange">
                Day Change: <b>1.67</b> <span class="icon-color-arrow icon-color-arrow-down"></span>
            </div>
        </div>
    </div>
</div>