{% set header_class = '' %}
{% set body_class = 'deposit-cf' %}
{% set isLogged = true %}
{% set isRateUSD = true %}

{% set submenu = true %}
{% set page = 'deposit' %}

{% set freeze_popup = false %}

{% extends 'ift-base.html.twig' %}

{% block page_header %}
    {{ include('page/dashboard-header.html.twig') }}
{% endblock %}

{% block page_content %}
    <div class="bg-light-grey">
        <div class="container">
            <br>
            <div class="bg-white box-framed">

                <div class="dashboard-menu-tabs">
                    <div class="container">
                        <a href="/front.php?page=deposit-crypto" class="dashboard-menu-tabs-item">Crypto</a>
                        <a href="/front.php?page=deposit-fiat" class="dashboard-menu-tabs-item current">Fiat</a>
                        <div class="dashboard-menu-tabs-help">Need help?</div>
                    </div>
                </div>


                <div class="deposit-cf-fiat">
                    <div class="deposit-cf-fiat-col">
                        <h3>1. Select currency and payment method</h3>
                        <fieldset class="fiat-coin">
                            <label for="fiat-coin" class="focused">Currency</label>
                            <div class="select-cf deposit-cf-select">
                                <div></div>
                                <ul>
                                    <li data-value="UAH"><div class="deposit-cf-select-icon" style="background-color: #0195e8">₴</div> UAH <small>Ukraine Hryvna</small></li>
                                    <li data-value="USD"><div class="deposit-cf-select-icon" style="background-color: #08e938">$</div> USD <small>US Dollar</small></li>
                                </ul>
                                <input type="hidden" name="fiat-coin" value="" id="fiat-coin" />
                            </div>
                        </fieldset>
                        <div class="deposit-cf-fiat-methods">
                            <h4>Recommended</h4>
                            <div class="deposit-cf-fiat-methods-item" id="fiat-UAH">
                                <div class="deposit-cf-fiat-method" data-method="SettlePay" data-fee="0.0075">
                                    <img src="/images/icon_settle.png" decoding="async" loading="lazy" />
                                    <p>
                                        <b>SettlePay (Visa/MC)</b>
                                        <small>+ 0.75% Fee</small>
                                    </p>
                                </div>
                                <div class="deposit-cf-fiat-method" data-method="GEOPay" data-fee="0.008">
                                    <img src="/images/icon_geopay.png" decoding="async" loading="lazy" />
                                    <p>
                                        <b>GEO Pay</b>
                                        <small>+ 0.8% Fee</small>
                                    </p>
                                </div>
                                <div class="deposit-cf-fiat-method" data-method="Advcash" data-fee="0.005">
                                    <img src="/images/icon_advcash.png" decoding="async" loading="lazy" />
                                    <p>
                                        <b>Advcash Account Balance</b>
                                        <small>+ 0.5% Fee</small>
                                    </p>
                                </div>
                            </div>
                            <div class="deposit-cf-fiat-methods-item" id="fiat-USD">
                                <div class="deposit-cf-fiat-method" data-method="Advcash" data-fee="0.0045">
                                    <img src="/images/icon_advcash.png" decoding="async" loading="lazy" />
                                    <p>
                                        <b>Advcash Account Balance</b>
                                        <small>+ 0.45% Fee</small>
                                    </p>
                                </div>
                                <div class="deposit-cf-fiat-method" data-method="GEOPay" data-fee="0.0095">
                                    <img src="/images/icon_geopay.png" decoding="async" loading="lazy" />
                                    <p>
                                        <b>GEO Pay</b>
                                        <small>+ 0.95% Fee</small>
                                    </p>
                                </div>
                            </div>
                            <input type="hidden" value="" name="fiat-method" id="fiat-method" />
                        </div>
                    </div>

                    <div class="deposit-cf-fiat-col">
                        <h3>2. Payment details</h3>
                        <div class="deposit-cf-fiat-payinfo">
                            <div class="deposit-cf-fiat-payinfo-msg">
                                <img src="/images/icon_alert.svg" decoding="async" loading="lazy" /> You can use multiple cards to increase the limits
                            </div>
                            <h4>Enter amount</h4>

                            <fieldset class="fiat-amount" data-currency="">
                                <label for="fiat-amount">Amount</label>
                                <input type="text" id="fiat-amount" name="fiat-amount" required="required" />
                                <div class="field-border"></div>
                                <div class="field-error"></div>
                            </fieldset>


                            <fieldset class="fiat-depowith">
                                <label for="fiat-depowith" class="focused">Deposit with</label>
                                <div class="select-cf deposit-cf-select">
                                    <div></div>
                                    <ul>
                                        <li data-value="Bank Card 1"><img src="/images/icon_creditcard.svg" decoding="async" loading="lazy" /> Bank Card 1 <img src="/images/icon_visa_mastercard.svg" decoding="async" loading="lazy" /></li>
                                        <li data-value="Bank Card 2"><div class="deposit-cf-select-icon" style="background-color: #0195e8">₴</div> Bank Card 2</li>
                                    </ul>
                                    <input type="hidden" name="fiat-depowith" value="" />
                                </div>
                            </fieldset>

                            <ul class="deposit-cf-fiat-payinfo-fee">
                                <li><small>Fee:</small> <span id="fiat-amount-fee">0.00</span> <span class="fiat-amount-currency">UAH</span></li>
                                <li><small>You will get:</small> <span id="fiat-amount-total">0.00</span> <span class="fiat-amount-currency">UAH</span></li>
                            </ul>

                            <div class="btn btn_blue deposit-cf-fiat-btn disabled">Continue</div>

                            <div class="deposit-cf-fiat-errors {# visible #}">Please choose payment method</div>

                            <div class="deposit-cf-tips">
                                <b class="deposit-cf-tips-title">Important notes:</b>
                                <ul>
                                    <li>Some banking institutions may additionally charge a commission in accordance with the approved Tariffs and Rules.</li>
                                    <li>Please be aware of the following deposit and withdrawal limits:</li>
                                    <li>Limit per Transaction is 5 — 29 999 UAH</li>
                                    <li>Daily Limit per card is 75 000 UAH</li>
                                    <li>Monthly Limit per card is 150 000 UAH</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

{#                                <div class="btc-address visible">#}
{#                                    <fieldset>#}
{#                                        <input id="btc-link" name="wallet_address_hash" type="text" readonly />#}
{#                                        <input id="btc-link-memo" name="wallet_address_hash_memo" type="text" readonly />#}
{#                                        <div class="field-border"></div>#}
{#                                        <div class="field-error">Please input BTC address</div>#}
{#                                    </fieldset>#}
{#                                    <p>or use QR code for transfer of BTC to fund</p>#}
{#                                    <div class="deposit-qr"><img src="" /></div>#}

{#                                    <fieldset>#}
{#                                        <label for="usdt-link">USDT address</label>#}
{#                                        <input id="usdt-link" name="wallet_address_hash_usdt" type="text" readonly />#}
{#                                        <input id="usdt-link-memo" name="wallet_address_hash_usdt_memo" type="text" readonly />#}
{#                                        <div class="field-border"></div>#}
{#                                        <div class="field-error">Please input USDT address</div>#}
{#                                    </fieldset>#}
{#                                    <p>or use QR code for transfer of USDT to fund</p>#}
{#                                    <div class="deposit-qr"><img src="" /></div>#}

{#                                </div>#}
            </div>
        </div>
        <div class="container">
            {# @todo patch: move to stylesheet #}
            <style>
                .withdrawal-history {
                    clear: both;
                }
            </style>
            <div class="deposit-history">
                <div class="deposit-history-title">
                    <h3>Fiat Deposit History</h3>
                    <a href="#" class="deposit-history-title-help">Deposit didn't arrive?</a>
                </div>
                <div class="deposit-history-thead">
                    <div class="deposit-history-coin">Type</div>
                    <div class="deposit-history-status">Status</div>
                    <div class="deposit-history-amount">Amount</div>
                    <div class="deposit-history-date">Date</div>
                    <div class="deposit-history-info">Information</div>
                </div>
                <div class="deposit-history-tbody">
                    <div class="deposit-history-row">
                        <div class="deposit-history-coin">UAH</div>
                        <div class="deposit-history-status"><span class="deposit-status-complete">Complete</span></div>
                        <div class="deposit-history-amount">13420.00</div>
                        <div class="deposit-history-date">25.03.2021 15:32</div>
                        <div class="deposit-history-info"><p><span>Address:</span> 1hjawdawHHawd234Dada123asdDDF21jnkOP</p></div>
                    </div>
                    <div class="deposit-history-row">
                        <div class="deposit-history-coin">UAH</div>
                        <div class="deposit-history-status"><span class="deposit-status-complete">Complete</span></div>
                        <div class="deposit-history-amount">3415.50</div>
                        <div class="deposit-history-date">22.03.2021 09:54</div>
                        <div class="deposit-history-info"><p><span>Address:</span> 1hjawdaasd23asdas34Dada123asdDDF21jnkOP</p></div>
                    </div>
                    {#<div class="withdrawal-history-row">#}
                    {#<div class="withdrawal-history-amount">1.1008887 BTC#}
                    {#<small>$10.00 transaction fee</small>#}
                    {#</div>#}
                    {#<div class="withdrawal-history-wallet">My main BTC Wallet</div>#}
                    {#<div class="withdrawal-history-status"><span class="withdrawal-status-complete">Complete</span>#}
                    {#</div>#}
                    {#<div class="withdrawal-history-date">13 JAN, 2018#}
                    {#<small>13:31</small>#}
                    {#</div>#}
                    {#</div>#}
                    {#<div class="withdrawal-history-row">#}
                    {#<div class="withdrawal-history-amount">567.8769 ETH#}
                    {#<small>no fee</small>#}
                    {#</div>#}
                    {#<div class="withdrawal-history-wallet">Ethereum</div>#}
                    {#<div class="withdrawal-history-status"><span class="withdrawal-status-complete">Complete</span>#}
                    {#</div>#}
                    {#<div class="withdrawal-history-date">30 DEC, 2017#}
                    {#<small>13:31</small>#}
                    {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/libs/radialIndicator.min.js" ></script>
    <script src="/js/libs/jquery.mask.min.js" ></script>
    <script src="/js/src/pages/deposit-cf.js"></script>
{% endblock %}