{% set header_class = '' %}
{% set body_class = 'homepage' %}
{% set isLogged = true %}
{% set isRateUSD = true %}

{% set submenu = false %}

{% set freeze_popup = false %}

{% extends 'ift-base.html.twig' %}

{% block page_header %}
    <div class="page-header">
        <div class="page-header-bg">
            <div class="kaleydoskop selfmove">
                <div class="kaleydoskop-wrapper">
                    <div class="ks s1"><div class="ksc"></div></div>
                    <div class="ks s2"><div class="ksc"></div></div>
                    <div class="ks s3"><div class="ksc"></div></div>
                    <div class="ks s4"><div class="ksc"></div></div>
                    <div class="ks s5"><div class="ksc"></div></div>
                    <div class="ks s6"><div class="ksc"></div></div>
                    <div class="ks s7"><div class="ksc"></div></div>
                    <div class="ks s8"><div class="ksc"></div></div>
                    <div class="ks s9"><div class="ksc"></div></div>
                    <div class="ks s10"><div class="ksc"></div></div>
                    <div class="ks s11"><div class="ksc"></div></div>
                    <div class="ks s12"><div class="ksc"></div></div>
                </div>
            </div>
        </div>
        <div class="title-wrap animate-visible"><h1>Digital Future is Here</h1></div>
        <div class="title-description-wrap animate-visible"><h5>Integrity crypto trust is a   reliable guide to a new class of financial instruments. ICT products and technologies are backed by  skills, integrity and professionalism of our experienced team of financial advisers.</h5></div>
        <div class="title-link-wrap animate-visible">
            <a href="/product-list" class="btn btn_lg btn_blue">For Investors <span class="hidden-arrow-right"></span></a>
            <a href="/portfolio" class="btn btn_lg">For Advisors <span class="hidden-arrow-right"></span></a>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="know-first">
        <div class="container">
            <div class="label-blue animate-visible">Who we are</div>
            <h2 class="animate-visible">INTEGRITY Crypto Trust is  the right place to create your financial freedom in new digital economy.</h2>
            <p class="animate-visible">New financial market of cryptocurrencies and derivatives has been developed and it is here to stay. This disruptive for traditional financial world phenomenon is able to provide  financial well-being for generations ahead. INTEGRITY Crypto Trust is a team of world-class professionals with experience  in traditional finance  as well as  crypto asset  markets and blockchain technologies.</p>
            <div class="know-first-bg animate-visible"></div>
        </div>
    </div>
    <div class="help-navigate bg-light-grey">
        <div class="container">
            <h2 class="animate-visible">Integrity Crypto Trust is a beacon in foggy cryptocurrency ocean.</h2>
            <div class="help-navigate-subtitle animate-visible">We are dedicated to  create well balanced investment products which aim is to  protect and grow Your wealth.Our combined expertise from different financial markets is the solid foundation for our partnership.</div>
            <div class="help-navigate-item">
                <img class="animate-visible" src="/images/help-navigate-simple-access.png" />
                <h4 class="animate-visible">Easy start</h4>
                <p class="animate-visible"> Fast client onboarding, intuitive investment platform, easy investment process.</p>
            </div>
            <div class="help-navigate-item">
                <img class="animate-visible" src="/images/help-navigate-auditable.png" />
                <h4 class="animate-visible">Proprietary trading and <br>analytical tools</h4>
                <p class="animate-visible">All what You need to know - in one place. Your private cabinet is one-stop-shop for all Your crypto needs.</p>
            </div>
            <div class="help-navigate-item">
                <img class="animate-visible" src="/images/help-navigate-trusted.png" />
                <h4 class="animate-visible">Security</h4>
                <p class="animate-visible">Cloud based blockchain technology allows You to be sure that information about Your cryptocurrency assets will be secured. It is our highest priority.</p>
            </div>
        </div>
    </div>
    <div class="homepage-videosection" style="display: none!important">
        <div class="homepage-videosection-bg"></div>
        <div class="label-blue animate-visible">Look inside</div>
        <h2 class="animate-visible">Discover INTEGRITY Crypto Trust</h2>
        <div class="videosection-playicon animate-visible"><div></div></div>
    </div>
    <div class="homepage-reviews bg-light-grey">
        <div class="owl-carousel home-owl-carousel">
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url(/images/reviews_gabianni.jpg)"></div>
                    <div class="review-item-name">
                        <h5>Daniele Gabbiadini</h5>
                        <small>Private jet pilot</small>
                    </div>
                </div>
                <div class="review-item-body">"With this company mostly what I liked is the fast working platform thanks which i could make really fast money."</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-grey"></span>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url(/images/reviews_lynch.jpg)"></div>
                    <div class="review-item-name">
                        <h5>Julian	Lynch</h5>
                        <small>Realtor</small>
                    </div>
                </div>
                <div class="review-item-body">"First time in my life I felt that I invest with confident and professional team. Nice support. Fast responds."</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url(/images/reviews_woods.jpg)"></div>
                    <div class="review-item-name">
                        <h5>Kelly Woods</h5>
                        <small>Student</small>
                    </div>
                </div>
                <div class="review-item-body">"It's my first time in financial industry and it is easy and profitable. So I got my personal manager Alex. Thank you for Your service!"</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                </div>
            </div>
            <div class="review-item">
                <div class="review-item-title">
                    <div class="review-item-photo" style="background-image:url(/images/reviews_cohen.jpg)"></div>
                    <div class="review-item-name">
                        <h5>Barry Cohen</h5>
                        <small>Financial consultant, PhD</small>
                    </div>
                </div>
                <div class="review-item-body">"I already been involved in the financial industry and thought it is the same as previous products but surprisingly I got absolutely different and tasty fruit!"</div>
                <div class="review-item-rating">
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-blue"></span>
                    <span class="review-star-grey"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-stats">
        <div class="homepage-stats-bg"></div>
        <div class="container">
            <div class="homepage-stats-twocol-item">
                <div class="homepage-stats-twocol-item">
                    <div class="label-grey">Last Quarter return</div>
                    <div class="big-digits big-digits-trust">87</div>
                </div>
                <div class="homepage-stats-twocol-item">
                    <div class="label-grey">Funds allocated (BTC)</div>
                    <div class="big-digits big-digits-strategies">157</div>
                </div>
            </div>
            <div class="homepage-stats-twocol-item">
                <div class="label-grey">Most profitable product in last quarter</div>
                <h2>Customized portfolio</h2>
                <p>combining High Yield Express Structured Product with some exclusive tokens carefully selected by our analysts</p>
                <a href="/product-list" class="btn btn_transparent">FOR INVESTORS</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/pages/home.min.js" ></script>
{% endblock %}
