<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation instructions</title>
</head>
<body>
    <h3>Thanks for signing-up to INTEGRITY Crypto Trust!</h3>
    <p>In order to complete the sign-up process, please click the confirmation link.</p>
    <p><a href="{{ CONFIRM_LINK }}">Confirmation link</a></p>

    <p>Yours faithfully,<br/>
    INTEGRITY Crypto Trust Team</p>
</body>
</html>