<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verifying Code</title>
</head>
<body>
<h3>Dear {{ NAME }},</h3>

<p>INTEGRITY Crypto Trust recently received a request for a make deposit.</p>
<p>Your verifying code: {{ VERIFYING_CODE }}</p>
<p>If you did not request this change, you do not need to do anything.</p>

<p>Thanks,<br />
    INTEGRITY Crypto Trust Support</p>
</body>
</html>